body {
    overflow: visible;
    color: gray;
    background-image: url("images/addd1.png");

}

#back {
    display: none;
}

.panel {
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    display: none;

}

pre {
    display: block;
    margin-top: 70px;
}

h2 {
    text-align: center;
    font-size: 54px;
}

b {
    font-weight: 500;
}


img {
    font-size: 19px;
}

.theory-2 {
    display: none;
}

.theory-1, .theory-2, .practise {
    height: 50%;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    margin-top: 30px;

}


.theory-1 p, .theory-2 p, .practise p {
    font-size: 48px;

}

h3 {
    font-size: 54px;
}

h4 {
    font-size: 40px;
}

.theory-1 {
    display: none;
    font-size: 48px;

}

.theory-1 img {
    width: 40px;
    height: 40px;
    opacity: 0.5;

    margin-left: 40px;
    position: relative;
    z-index: 998;
    font-size: 20px;
}

.theory-1 b {
    margin-top: 15px;
}

#burger, #arrow, #rubbish, #task, #arrow2 {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
    opacity: 0.5;

}

#arrow {


}




.options, .settings {
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 0 0 1px grey;
    margin-top: 10px;
    z-index: 999;
}

.options p, .settings p {
    font-size: 30px;
}

.options a, .settings a {
    font-size: 30px;
}

.options {

    height: 100%;


}

.settings {

    width: 300px;
    height: 300px;

}

.settings h3, p {
    margin-left: 15px;
}

.settings select {
    margin-left: 20px;
}

#settings, #close, #begin, a {
    margin-left: 15px;

}

.practise {
    display: none;
    text-align: center;
    vertical-align: middle

}

.practise h3 {
    font-size: 54;
}



.main {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 100%;

}



.screen {
    width: 100%
    height: 100%;
    display: block;
}



input[type="text"], input[type="text"]:focus {
    border: none;
    border-bottom: 1px solid green;

    font-size: 45px;
       
}

input[type="text"]::placeholder {
    font-size: 45px;
    text-align: center;
}

a {
    text-decoration: none;
    color: grey;
}


.answer {
    padding-bottom: 30px;
}


.header {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30;
}

.item {
    padding: 15px;

    background-color: white;

}

#range {
    width: 95%;
    transform: rotate(0deg);
    display: block;
    z-index: 997;
    padding: 5px;

}

.block, .time {

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.block {
    width: 500px;
    height: 500px;
    padding-top: 30px;
}


#start {

    background-color: white;
    border: 1px double black;

    border-radius: 35px;
    color: black;
    opacity: 0.75;
    font-size: 30px;
    font-weight: 900;

}

#start {
    padding: 15px;
    font-size: 50px;
}



.container {
    display: block;
    text-align: center;
    margin-top: 25%;


}

#restart {
    display: none;
    margin-top: 15px;
    font-size: 40px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 1000px){
    .container {
        
        margin-top: 65%;
    }
}





}